@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap');

.inside_contact {
    background-color: #333333;
    height: 46vw;
}

.contact_title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 3vw;
    position: absolute;
    top: 8vw;
    left: 5vw;
    color: #dddddd;
    letter-spacing: 0.1vw;
}

.location_title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.5vw;
    position: absolute;
    top: 21vw;
    left: 5vw;
    color: #bdc6fa;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.location_address {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    top: 26.8vw;
    left: 5vw;
    color: #bdc6fa;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.club_email_icon {
    position: absolute;
    top: 32.9vw;
    left: 5vw;
    color: #bdc6fa;
}

.club_email {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    top: 30.4vw;
    left: 8vw;
    color: #bdc6fa;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.club_email_link {
    text-decoration: none;
    color: #bdc6fa;
}

.ED_google_map {
    width: 50vw;
    height: 46vw;
    position: absolute;
    top: 6vw;
    right: 0vw;
}